<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Mono.Zeroconf" publicKeyToken="e60c4f4a95e1099e" />
        <bindingRedirect oldVersion="1.0.0.0-1.0.0.74" newVersion="1.0.0.74" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
